<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
	       xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Activates various annotations to be detected in bean classes -->
	<context:annotation-config />

	<context:component-scan base-package="com.safasoft.pentaho.datatrans" />

	<!-- Configures the annotation-driven Spring MVC Controller programming model.
	Note that, with Spring 4.0, this tag works in Servlet MVC only!  -->

    <context:property-placeholder location="classpath:jdbc.properties" />
    <tx:annotation-driven />
    
    <bean id="dataSource"
      class="org.springframework.jdbc.datasource.DriverManagerDataSource"
      p:driverClassName="${jdbc.driver}"
      p:url="${jdbc.url}"
      p:username="${jdbc.username}"
      p:password="${jdbc.password}" />
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" 
      p:dataSource-ref="dataSource" p:configLocation="classpath:hibernate.cfg.xml"
      p:packagesToScan="com.safasoft.pentaho.datatrans.src.bean" />
    <bean id="transactionManager"
     class="org.springframework.orm.hibernate4.HibernateTransactionManager"
      p:sessionFactory-ref="sessionFactory" />
    
    <bean id="dataSource2"
      class="org.springframework.jdbc.datasource.DriverManagerDataSource"
      p:driverClassName="${jdbc2.driver}"
      p:url="${jdbc2.url}"
      p:username="${jdbc2.username}"
      p:password="${jdbc2.password}" />
    <bean id="sessionFactory2" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" 
      p:dataSource-ref="dataSource2" p:configLocation="classpath:hibernate2.cfg.xml"
      p:packagesToScan="com.safasoft.pentaho.datatrans.dest.bean" />
    <bean id="transactionManager2"
     class="org.springframework.orm.hibernate4.HibernateTransactionManager"
      p:sessionFactory-ref="sessionFactory2">
      <qualifier value="destination"/>
    </bean>

</beans>
